# An example of what the env file should look like
# MongoDB
USER = MYUSERNAME
PASS = MYPASSWORD
HOST = "mycluster.somecharacters.mongodb.net"
DBNAME = MYDBNAME
DBCOLLECTION = MYDBCOLLECTION
USERCOLLECTION = MYUSERCOLLECTION